.contact {
    border-radius: 15px;
    padding: 30px;
}
.contact form {
    margin: 0 auto;
    width: 70% !important;
}
.contact input[type=text] {color: #ddddddad;}
.contact textarea {color: #ddddddad !important;}
.contact label {
    color: #fff;
}
.inputBtn {
    background: #00D6D6;
    border: 0;
    padding: 10px 0;
    font-size: 1.3rem;
    border-radius: 4px;
    cursor: pointer;
}
.inputBtn:hover {
    background: #00d6d69f;
}
.inputBtn:focus{outline: 0;}

@media (max-width: 767px) {
    .contact form {width: 100% !important;}
}