
.myfooter {
    background: #00343d;
    color: #00d6d6b0;
    height: 80px;
    padding: 20px;
    border-radius: 0 0 25px 25px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.social {padding-top: 15px;}
.footer .social ul li {
    list-style: none;
    display: inline;
    padding-left: 20px;
}
.footer .social ul li a {
    text-decoration: none;
    color: #00d6d6;
}